doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Error 404
        link(rel="stylesheet" href="/css/error.css")
    body
        a(href='' target='_blank')
            header.top-header
            // dust particel
            div
                .starsec
                .starthird
                .starfourth
                .starfifth
            // Dust particle end-
            .lamp__wrap
                .lamp
                    .cable
                    .cover
                    .in-cover
                        .bulb
                    .light
            // END Lamp
            section.error
                // Content
                .error__content
                    .error__message.message
                        h1.message__title Page Not Found
                        p.message__text
                            | We&apos;re sorry, the page you were looking for isn&apos;t found here. The link you followed may either be broken or no longer exists. Please try again, or take a look at our.
                    .error__nav.e-nav
                        a.e-nav__link(href='' target='_blanck')
                // END Content 